@using PersonelCvPage.Models.Entity
@model List<Interests>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Interests Edit Page</h2>
<br />
<form method="post">
    @foreach (var item in Model)
    {
        <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="5" class="form-control" id="description" name="Description">@item.Description</textarea>
        </div>
        <input type="hidden" name="ID" value="@item.ID" />
        <button type="submit" class="btn btn-primary">Update</button>
    }
</form>

