@using PersonelCvPage.Models.Entity
@model List<SocialMedia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2 class="text-center">Social Media Admin Page</h2>
<br />
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Social Media</th>
                                            <th>Status</th>
                                            <th>Link</th>
                                            <th>Update</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@item.Name</td>
                                                @if (@item.Status == true)
                                                {
                                                    <td>Active</td>
                                                }
                                                else { <td>Passive</td>}
                                                <td>@item.Link</td>
                                                <td><a class="btn btn-warning btn-sm" href="/SocialMedia/EditSocial/@item.ID"> <i class="fas fa-pencil-alt"></i>Edit</a></td>
                                                <td><a class="btn btn-danger btn-sm" href="/SocialMedia/DeleteSocial/@item.ID"> <i class="fas fa-trash"></i>Delete</a></td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                                <br />
                                <button class="btn btn-dark" data-toggle="modal" data-target="#Modal1">Add New Social Media</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal" id="Modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">New Social Media Adding Panel</h2>
                    </div>
                    <form method="post" action="/SocialMedia/AddSocial">
                        <div class="modal-body">
                            <label>Social Media (Facebook/Instagram/Linkedin/GitHub/Twitter)</label>
                            <input type="text" class="form-control mb-2" name="Name" />

                            <label>Social Media Link</label>
                            <input type="text" class="form-control mb-2" name="Link" />

                            <button class="btn btn-dark">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>