<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">Contact Me!</h2>

        <label> Name Surname</label>
        <input type="text" class="form-control" name="NameSurname" />

        <label> Mail</label>
        <input type="text" class="form-control" name="Mail"/>

        <label> Subject</label>
        <input type="text" class="form-control" name="Subject"/>

        <label> Message</label>
        <textarea type="textarea" class="form-control" name="Message"></textarea>

        <br />
        <button class="btn btn-dark ">Send Message</button>

    </form>
</div>

