@using PersonelCvPage.Models.Entity
@model List<Interests>

<div class="resume-section-content">
    <h2 class="mb-5">Interests</h2>
    @foreach (var x in Model)
    {
        <p>@x.Description</p>
    }
</div>