@model PersonelCvPage.Models.Entity.Login

@{
    ViewBag.Title = "AddEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h4 class="text-center">New User Page</h4>

    <form method="post" class="mt-4">
        <div class="mb-3">
            @Html.Label("User Name")
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
        </div>

        <div class="mb-3">
            @Html.Label("Password")
            @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>
